# BEST PRACTICES FOR TERRAFORM PROJECTS
.terraform/
*.tfstate
*.tfstate.backup
*.terraform*
*.tfstate*
learn-terra/.terraform/*
lab-work-2/terraform.tfvars
artillery-load-test.yml
ECS_ARCHITECTURE_GUIDE.md
monitoring-commands.md
SCALING_TEST_GUIDE.md
test-autoscaling.sh
test-autoscaling.ps1
*.hcl

tera-multi-env/environments/dev/terraform.tfstate
tera-multi-env/environments/staging/terraform.tfstate
tera-multi-env/environments/prod/terraform.tfstate
tera-multi-env/environments/dev/.terraform
tera-multi-env/environments/dev/terraform.tfvars
tera-multi-env/environments/staging/.terraform
tera-multi-env/environments/prod/.terraform
tera-multi-env/environments/prod/terraform.tfvars

