# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/tfplan

# GitHub Actions
github-actions-role.json

# Temp files
/tmp/
